*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(./multimedia/wallpaperflare.com_wallpaper\(40\).jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
ul{
    list-style: none;
}
.left{
    width: 50px;
    height: 80px;
    margin: 20px 0px 0px 20px;
    display: inline-block;
    

}
.img1 {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 15px 5px white;
    border-radius: 50%;
}
.list{
    margin: 0px;
}
.item{
    background-color: rgba(0, 255, 255, 0.589);
    display: block;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
}
.link{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 25px;
    line-height: 60px;
    
}
.link:hover{
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}
.img2{
    width: 30px;
    
}
@media (min-width: 748px){
    body {
        width: 100%;
        height: 100vh;
        background-image: url(./multimedia/1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .img1 {
        width: 80px;
        height: 80px;
    }
    .left{
        margin: 20px;
        float: left;
    }
    .list {
        margin: 35px 20px;
        float: right;
    }
    .item{
        width: 150px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.288);
        display: inline-block;
        margin: 0;
        padding: 0;
        margin: 0px 5px;

    }
    .link {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 60px;
        width: 150px;
        height: 60px;
        
    }
}